@media only screen and (orientation: landscape) {
  .amount-field-wrapper {
    font-size: 1.2vw;
  }
  .balance {
    font-size: 1.2vw;
  }
  input {
    font-size: 1.2vw;
  }
}

@media only screen and (orientation: portrait) {
  .amount-field-wrapper {
    font-size: 1.2vh;
    /* height: 100%; */
  }
  .balance {
    font-size: 1.2vh;
  }
  input {
    font-size: 1.2vh;
  }
  .max-button {
    /* padding: ; */
  }
}

.amount-field-wrapper {
  color: #5c4b51;
  background-color: #e7bb81;
  width: 100%;

  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.max-button {
  background-color: #ee9723;
  width: 30%;
  height: 90%;
  margin-right: 1%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.max-button span {
  color: #5c4b51;
}

input {
  font-family: "comicSansMs";
  width: 80%;
  height: 100%;
  position: relative;
  padding: 16px;
  border: none;
  border-radius: 20px;
  line-height: normal;
  background-color: #e7bb81;
  color: #282828;
  outline: none;
  box-shadow: 0px 4px 20px 0px transparent;
  transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out,
    0.1s padding ease-in-out;
  -webkit-appearance: none;
}
