@media only screen and (orientation: landscape) {
  .ConnectButton {
    width: 10vw;
    height: 2vw;
    font-size: 1.2vw;
  }
}

@media only screen and (orientation: portrait) {
  .ConnectButton {
    width: 25vw;
    height: 3vh;
    font-size: 1.2vh;
  }
}

.ConnectButton {
  border: none;
  color: white;
  border-radius: 12px;
  opacity: 1;
  transition: 0.3s;
  padding-left: 0;
  padding-right: 0;
  font-family: "ComicSansMs";
}

.ConnectButton:disabled {
  opacity: 0.5;
}

.ConnectButton:hover:enabled {
  opacity: 0.8;
}
