@media only screen and (orientation: landscape) {
  div[class^="card-border"] {
    margin: 0.2vw;
  }
  .card {
    height: 32vh;
    padding: 1vh;
    margin: 1vh;
  }
  .card .title {
    font-size: 1.4vw;
  }
  .card .description {
    font-size: 1vw;
  }
  .card .approval-button .load-button {
    font-size: 1.5vw;
    height: calc(12vh + 6px);
  }
}

@media only screen and (orientation: portrait) {
  div[class^="card-border"] {
    margin: 1vw;
  }
  .card {
    height: 23vh;
    padding: 1vw;
    margin: 1vw;
  }
  .card .title {
    font-size: 1.5vh;
  }
  .card .description {
    font-size: 1vh;
  }
  .card .approval-button .load-button {
    font-size: 1.5vh;
    height: calc(24vw + 6px);
  }
}

.card {
  border-radius: 20px;
  background-color: #ee9723;
  flex: 1;
  display: flex;
  flex-direction: column;
  // justify-content: left;
}
.card .title {
  font-weight: bolder;
  color: #eee;
}

.card .description {
  color: #5c4b51;
}

.card .approval-button {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.card .approval-button .load-button {
  font-family: "comicSansMs";
  border: 4px solid #e7bb81;
  background-color: #e7bb81;
}

.card .approval-button .load-button .button-text {
  color: #eee;
}

.card .approval-button .load-button .button-background {
  background-color: #5c4b51;
}

.card-border--normal {
  position: relative;
  z-index: 0;
  border-radius: 20px;
  overflow: hidden;
  flex: 1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.card-border--rainbow {
  position: relative;
  z-index: 0;
  border-radius: 20px;
  overflow: hidden;
  flex: 1;

  &::before {
    content: "";
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-color: linear-gradient(red, orange, yellow, cyan, blue, violet);
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(
      lightgreen,
      cyan,
      blue,
      #fc03db,
      red,
      orange,
      yellow
    );
    // animation: rotate 8s linear infinite;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    background: white;
    border-radius: 5px;
  }
}
