@font-face {
  font-family: "ComicSansMs";
  src: local("ComicSansMs"), url(./fonts/comic.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: "ComicSansMs";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
